<div class="container is-widescreen field is-grouped is-grouped-right">
  <div>
    <button id="reload-page-btn" class="button is-primary is-rounded m-3">Làm mới</button>
    <button id="add-new-subject-btn" class="button is-primary is-rounded my-3">Thêm mới</button>
  </div>
</div>