<div class="container is-widescreen">
    <div id="new-subject-modal" class="modal modal-full-screen">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Tạo 1 môn học mới</p>
                <button id="close-add-new-subject-modal-btn" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <input title="maHP" class="input is-info my-3" type="text" placeholder="Mã học phần">
                        <input title="maIn" class="input is-info my-3" type="text" placeholder="Mã in">
                        <input title="tenHP" class="input is-info my-3" type="text" placeholder="Tên học phần">
                        <input title="hocKy" class="input is-info my-3" type="text" placeholder="Học kỳ">
                    </div>
                    <div class="column">
                        <input title="soTinChi" class="input is-info my-3" type="text" placeholder="Số tín chỉ">
                        <input title="tbKtraTX" class="input is-info my-3" type="text" placeholder="Trung bình kiểm tra thường xuyên">
                        <input title="diemThi" class="input is-info my-3" type="text" placeholder="Điểm thi">
                        <input title="diemTB" class="input is-info my-3" type="text" placeholder="Điểm trung bình">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-flex is-justify-content-flex-end">
                <div class="columns">
                    <button id="cancel-add-new-subject-btn" class="column button is-danger mr-3">Hủy</button>
                    <button id="submit-add-new-subject-btn" class="column button is-success mr-3">Tạo</button>
                </div>
            </footer>
        </div>
    </div>
</div>