<button id="btn-overall-point" class="button is-rounded">Tổng quan</button>

<div class="modal" id="modal-overall-point">
  <div class="modal-background" id="modal-overall-point-background"></div>
  <div class="modal-content">
    <ul id="modal-overall-point-content">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <label>Trung bình chung tích lũy</label>
    <progress id="overall-point-progress" class="progress" max="4"></progress>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>