<div class="container is-widescreen">
    <div id="view-detail-subject-modal" class="modal modal-full-screen">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Chi tiết môn học</p>
                <button id="close-view-detail-subject-modal-btn" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <label class="label is-small">Mã học phần</label>
                        <input title="view-maHP" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Mã in</label>
                        <input title="view-maIn" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Tên học phần</label>
                        <input title="view-tenHP" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Học kỳ</label>
                        <input title="view-hocKy" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Điểm chữ</label>
                        <input title="view-diemChu" class="input is-info my-3" type="text" disabled>
                    </div>
                    <div class="column">
                        <label class="label is-small">Số tín chỉ</label>
                        <input title="view-soTinChi" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Trung bình kiểm tra thường xuyên</label>
                        <input title="view-tbKtraTX" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Điểm thi</label>
                        <input title="view-diemThi" class="input is-info my-3" type="text" disabled>
                        <label class="label is-small">Điểm trung bình</label>
                        <input title="view-diemTB" class="input is-info my-3" type="text" disabled>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot is-flex is-justify-content-flex-end">
                <div class="columns">
                    <button id="cancel-view-detail-subject-btn" class="column button is-danger mr-3">Thoát</button>
                </div>
            </footer>
        </div>
    </div>
</div>